<section id="about-us">
    <span>
      Your Ultimate Run Play Hoop Destination!<br /><br />© 2024
      HOOPERS. All Rights Reserved.<br /><br />Stay Updated with the
      Latest Hoops News and Highlights.<br /><br />
      Connect with Us :  <i class="fa-brands fa-facebook" style= "color: aliceblue;"></i> <i class="fa-brands fa-x-twitter" style= "color: aliceblue;"></i> <i class="fa-brands fa-instagram"></i>      <br /><br />For inquiries, contact us at hoopers@gmail.com<br /><br />Designed
      with love by Shawn Pandit & Abhishek Mukhiya</span>
    </span>
  </section>