<!-- navbar -->
<%- include('./nav') %>
<link rel="stylesheet" href="css/training.css" />
<!-- head section -->
<div class="head-train">
  <div class="ad-1">
    <div class="ad-1-img">
      <img
        src="https://thumbs.dreamstime.com/b/basketball-practice-training-mentoring-playing-concept-74311774.jpg"
        alt=""
      />
    </div>
    <div class="ad-1-content">
      <span>personalize training programs</span>
      <p>
        Personalized basketball training programs cater to individual player
        needs, honing skills and addressing weaknesses for optimal performance.
        Tailored workouts, focusing on skill development and physical
        conditioning, elevate players' abilities and enhance their on-court
        prowess
      </p>
    </div>
  </div>
  <div class="ad-1">
    <div class="ad-1-img">
      <img
        src="https://images.hdqwalls.com/wallpapers/basketball-hd.jpg"
        alt=""
      />
    </div>
    <div class="ad-1-content">
      <span>Exclusive Special offer</span>
      <p>
        Exclusive offer: Unlock access to personalized basketball training
        programs designed by elite coaches, tailored to elevate your game and
        maximize performance on the court. Join now to receive specialized
        workouts, individualized feedback, and a customized path to basketball
        success.
      </p>
    </div>
  </div>
  <div class="ad-1">
    <div class="ad-1-img">
      <img
        src="https://s1.1zoom.me/b5944/699/Basketball_Men_Ball_Jump_Uniform_554771_1920x1080.jpg"
        alt=""
      />
    </div>
    <div class="ad-1-content">
      <span>unclock elite performance</span>
      <p>
        Achieve elite performance on the basketball court with our specialized
        training regimen, meticulously crafted to optimize your skills and
        elevate your game to the highest level. Experience personalized
        coaching, tailored workouts, and cutting-edge techniques designed to
        propel you towards greatness.
      </p>
    </div>
  </div>
</div>

<!-- practice session -->
<div class="head-name">
    <h2>our program</h2>
</div>
<div class="head-train">
   
  <div class="ad-1">
    <div class="ad-1-img">
        <video autoplay loop muted
        src="vid/shooting.mp4"
        type="video/mp4" alt="">
    </div>
    <div class="shoot">
        <span>shooting</span>
        </div>
  </div>
  <div class="ad-1">
    <div class="ad-1-img">
        <video autoplay loop muted
        src="vid/dribling.mp4"
        type="video/mp4" alt="">
    </div>
    <div class="shoot">
        <span>dribling</span>
        </div>
    
  </div>
  <div class="ad-1">
    <div class="ad-1-img">
        <video autoplay loop muted
        src="vid/layup.mp4"
        type="video/mp4" alt="">
    </div>
    <div class="shoot">
        <span>layup</span>
        </div>
  </div>
</div>

<!-- elite coaches -->
<div class="head-name">
    <h2>elite coaches</h2>
</div>
<div class="head-train">
   
  <div class="ad-1">
    <div class="ad-1-img">
        <img src="https://godrakebulldogs.com/images/2021/9/22/Drake_Richter_Marty_71.jpeg?width=300" alt="">
    </div>
    <div class="shoot">
        <span>marty richter</span>
        </div>
  </div>
  <div class="ad-1">
    <div class="ad-1-img">
        <img src="https://avemariagyrenes.com/images/2017/10/7/Moss_Zach.JPG?width=300" alt="">
    </div>
    <div class="shoot">
        <span>Zack moss</span>
        </div>
    
  </div>
  <div class="ad-1">
    <div class="ad-1-img">
        <img src="https://muspartans.com/images/2021/10/26/Conley_Nate.jpg?width=300" alt="">
    </div>
    <div class="shoot">
        <span>nate conley</span>
        </div>
  </div>
</div>
<!-- about us -->
<%- include('./about') %>
